
.add-btn {
  border-radius: 100%;
  border: 1px solid #002e63;
  color: #002e63;
  padding: .25rem .75rem;
}

.add-btn:hover {
  color: #fefefe;
  background-color: #002e63;
}

.add-btn-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: .1rem;
}

.remove-btn {
  border-radius: 100%;
  margin-left: .5rem;
}